include README.md
include LICENSE
include CHANGELOG.md
include CONTRIBUTING.md
include PUBLIC_RELEASE_CHECKLIST.md
recursive-include docs *.md
recursive-include examples *.py
recursive-include tests *.py
